*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.d-flex{
    display: flex;
}
.container{
    width: 1366px;
    margin: auto;
}
.default-btn{
    display: inline-block;
    padding: 15px 35px;
    border-radius: 15px;
    background: #e73c3e;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.default-btn::after{
    content: "";
    background: #000;
    width: 0;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: ease-in-out .4s;
}
.default-btn:hover::after{
    width: 100%;
}
.t-center{
    text-align: center;
}
.t-left{
    text-align: left!important;
}
.t-right{
    text-align: right;
}
.t-secondary{
    color: #e73c3e;
}
.bg-secondary{
    background: #e73c3e;
}
.t-white{
    color: #fff;
}
.t-muted{
    color: #606060;
}
img{
    max-width: 100%;
}
/* Main CSS strat from here */
header{
    background: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
}
.header-section{
    align-items: center;
    justify-content: space-between;
}
.logo{
    flex-basis: 20%;
}
.main-menu{
    margin-left: auto;
}
.main-menu ul{
    list-style: none;
}
.main-menu ul > li{
    position: relative;
    padding: 1rem 0;
}
.main-menu ul li a{
    padding: .5rem;
    display: block;
}
.main-menu ul li:hover > a{
    color: #e73c3e;
}
/* DropDown */
.main-menu ul li ul{
    position: absolute;
    width: 200px;
    top: 125%;
    left: 0;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transition: .4s ease-in-out;
}
.main-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(-15px);
}
.main-menu ul li ul li{
    background: #fff;
    padding: 0;

}
.main-menu ul li ul li a{
    border-bottom: 1px solid #ddd;
    transition: ease-in-out .3s;
}
.main-menu ul li ul li:hover a{
    transform: scaleX(1.1);
}
.menu-contact{
    flex-basis: 30%;
    align-items: center;
    justify-content: space-evenly;
}
.search span{
    cursor: pointer;
    margin-right: 10px;
}
.call-section{
    align-items: center;
}
.call-icon{
    margin-right: 10px;
}
.call-text{
    margin-right: 10px;
}
/* Banner Section */
.banner-section{
    background: url(img/main-banner2.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 300px;
}
.banner-section .container{
    align-items: center;
    height: 100%;
}
.banner-content{
    width: 40%;
}
.banner-content h6{
    
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 7px;
}
.banner-content h1{
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-content p{
    margin-bottom: 30px;
}
.follow-section{
    margin-top: 100px;
}
.follow-section p{
    position: relative;
}
.follow-section p::after {
	content: "";
	height: 1px;
	width: 30px;
	background: #000;
	position: absolute;
	top: 50%;
	right: -41px;
}
.follow-section ul{
    list-style: none;
    margin-left: 50px;
}
.follow-section ul li:hover a{
    color: #e73c3e;
}
.follow-section ul li a{
    padding: 5px;
}
/* Client Section */
.client-section{
    padding: 70px 0;
    border-bottom: 1px solid #ddd;
}
marquee{
    width: 100%;
}
.client-section ul{
    list-style: none;
    justify-content: space-between;
}
.client-section ul li{
    padding: 10px 20px;
}
/* About Section*/
.about-items{
    padding: 50px 0;
}
.about-left-item{
    position: relative;
    flex-basis: 45%;
}
.about-item-text {
	background: url(img/shape.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	bottom: 0%;
	right: 15%;
}
.about-item-text strong{
    font-size: 35px;
}
.about-item-text p{
    font-size: 18px;
}
.about-right-item{
    flex-basis: 55%;
    padding: 0 50px;
}
.finix-text h3 {
	font-size: 39px;
	font-weight: 400;
	margin-bottom: 21px;
}
.finix-text p {
	margin-bottom: 15px;
}
.about-right-item ul {
	list-style: none;
	margin-left: 34px;
	margin-bottom: 30px;
}
.about-right-item ul li{
    padding: 5px 0;
    position: relative;
}
.about-right-item ul li::before {
	content: "\f00c";
	position: absolute;
	left: -31px;
	top: 5px;
	color: #e73c3e;
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
}
/* why-chose-section */
.why-chose-section{
    background: #f8f9fa;
    padding: 50px 0;
}
.why-chose-item{
    flex-basis: 50%;
}
.chose-img{
    position: relative;
    margin-top: 40px;
}
.play-btn {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 60px;
	bottom: 22%;
	font-size: 25px;
	color: #e73c3e;
	right: 45%;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	position: relative;
	position: absolute;
}
.play-btn:hover{
    color: #fff;
    background: #e73c3e;
}
.play-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation: play 1s ease-in-out infinite;
}
@keyframes play{
    0%{
        opacity: .2;
        transform: scale(1.2);
    }
    25%{
        opacity: .5;
        transform: scale(1.2);
    }
    75%{
        opacity: .7;
        transform: scale(1.5);
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
.chose-box{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.chose-inner{
    flex-basis: 48%;
    padding: 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    margin-bottom: 25px;
    transition: ease-in-out .4s;
}
.chose-inner:nth-child(2n+1){
    top: 15px;
}
.chose-inner::before{
    content: "";
    position: absolute;
    top: -45%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 75%;
    border-radius: 50%;
    z-index: -1;
    background: #fdebeb;
    transition: ease-in-out .4s;
}
.chose-inner span{
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    font-size: 25px;
    margin-top: 7px;
    transition: ease-in-out .4s;
}
.chose-inner h2{
    margin: 20px 0;
    font-weight: 500;
}
.chose-inner p{
    line-height: 25px;
}
.chose-inner:hover span{
    background: #e73c3e;
    color: #fff;
}
.chose-inner:hover{
    transform: translateY(-10px);
}