body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
.default-btn{
    padding: .8rem 1.7rem;
    background: #e73c3e;
    color: #fff;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    border: none; 
}
.default-btn::after{
    content: "";
    height: 100%;
    width: 0%;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #000;
    transform-origin: left;
    transition: ease-in-out .4s;
}
.default-btn:hover{
    color: #fff;
}
.default-btn:hover::after{
    width: 100%;
}
/* Menu */
.header-menu{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header-menu ul li{
    position: relative;
}
.header-menu ul li a{
    padding: .5rem .7rem;
    color: #000;

}
.header-menu ul li:hover > a{
    color: #e73c3e;
}
.header-menu ul li ul{
    width: 150px;
    transform-origin: bottom;
    transition: ease-in-out .3s;
    visibility: hidden;
    opacity: 0;

}
.header-menu ul li ul li{
    padding: 10px 0;
}

.header-menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
}
.header-menu ul li ul li a{
    transition: ease-in-out .3s;
}
.header-menu ul li ul li:hover a{
    letter-spacing: 1px;
}
.search-form{
    width: 220px;
    margin-right: 200px;
}

/* Banner Section */
.banner-section{
    background: url(img/main-banner2.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
}
.banner-content{
    margin-top: 200px;
}
.social-menu{
    margin-top: 100px;
}
.social-menu span{
    position: relative;
}
.social-menu span::after{
    content: "";
    width: 50px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 25%;
    right: -55px;
}
.social-menu ul{
    margin-left: 70px;
}
.social-menu ul li{
    margin: 0 10px;
}
.social-menu ul li a{
    color: #000;
    transition: ease-in-out .4s;
}
.social-menu ul li:hover a{
    color: #e73c3e;
}
/* About Section */
.img-content {
	background: url(img/shape.png) no-repeat center;
	right: 29px;
	top: 308px;
	background-size: contain;
	width: 173px;
	height: 165px;
	text-align: center;
}
.aobut-content ul li{
    position: relative;
    padding: 10px 0;
}
.aobut-content ul li::before{
    content: "\f00c";
    color: #e73c3e;
    font-size: 25px;
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
/* Process Section */
.process-section{
    background: #f9fafb;
}
.play-btn {
	height: 45px;
	line-height: 45px;
	width: 45px;
	top: 70%;
	font-size: 25px;
	color: #e73c3e;
	right: 34%;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	position: relative;
}
.play-btn:hover{
    color: #fff;
    background: #e73c3e;
}
.play-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation: play 1s ease-in-out infinite;
}
@keyframes play{
    0%{
        opacity: .2;
        transform: scale(1.2);
    }
    25%{
        opacity: .5;
        transform: scale(1.2);
    }
    75%{
        opacity: .7;
        transform: scale(1.5);
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
/* Process Box */
.process-box{
    transition: ease-in-out .3s;
}
.process-box::before{
    content: "";
    width: 90%;
    height: 80%;
    background: #fdebeb;
    left: 0;
    right: 0;
    top: -50%;
    margin: auto;
    position: absolute;
    border-radius: 50%;
}
.process-box:hover{
    transform: translateY(-15px);
}
.process-box:hover span{
    color: #fff;
    background: #e73c3e;
}
.process-box span{
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 25px;
    color: #e73c3e;
    position: relative;
    margin-top: 15%;
    transition: ease-in-out .3s;
}
/* Calculate Section */
.quotation-section {
	padding: 60px 0;
}
.quotation-section ul{
    position: relative;
}
.quotation-section ul::before{
    content: "";
    height: calc(100% - 70px);
    width: 1px;
    top: 5px;
    left: -7%;
    position: absolute;
    background: #e73c3e;
}
.quotation-section ul li{
    position: relative;
}
.quotation-section ul li::before {
	content: attr(data-counter);
	position: absolute;
	top: 5px;
	left: -58px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e73c3e;
	border-radius: 50%;
	color: #e73c3e;
	background: #fff;
}
.quotation-section ul li strong{}
.quotation-section ul li p{}
/* Form Section */
.form-section{
    background: #fdebeb;
}
.form-section .form-control{
    border-radius: 0;
    padding: 10px 5px;
}
/* Call to Action */
.call-to-action{
    background: #e73c3e;
}
.call-to-action span{
    font-size: 45px;
    color: #e73c3e;
    background: #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}
/* Value Section */

.value-section ul li span{
    color: #e73c3e;
    font-size: 60px;
    margin-right: 20px;
}
/* Tab Section */
.tab-section{
    background: #f9fafb;
}